#!/bin/bash

. /usr/local/hadoop/etc/hadoop/hadoop-env.sh

echo "start resourcemanager"
$HADOOP_HOME/bin/yarn --config $HADOOP_HOME/etc/hadoop resourcemanager
