#!/bin/bash

. /usr/local/hadoop/etc/hadoop/hadoop-env.sh

# Only start the resource manager if this is the master node
if [[ "$HOSTNAME}" == *"master"* ]];
then
    echo "start resourcemanager"
    exec $HADOOP_HOME/bin/yarn --config $HADOOP_HOME/etc/hadoop resourcemanager
else
    while :; do echo 'Hit CTRL+C'; sleep 100000; done
fi
